//== BASE
body[pgs~="bodyBase"] {
    background-color: var(--color-background);
    color: var(--color-black);
    position: relative;

    section {
        container-type: inline-size;
        width: 100%;
    }

    aside {
        container-type: inline-size;
        width: 100%;
    }

    ul {
        list-style: none;
        color: var(--color-black);
    }

    hr {
        margin: var(--gap-texts);
        border-style: solid;
        border-color: var(--color-primary-soft);
    }

    ::selection {
        background: var(--color-secondary);
        color: var(--color-whiteFixed);
    }

    :focus-visible {
        outline: 0px solid;
    }

    @media (hover: hover) and (pointer: none) {
        :focus-visible {
            outline: var(--focus-visible);
        }
    }
}

//== IMG
body[pgs~="bodyImg"] {

    img,
    object,
    lottie-player {
        width: 100%;
        height: auto;
        overflow: hidden;
        -webkit-user-drag: none;
        user-drag: none;
        pointer-events: none;
        color-scheme: light;
        transition: opacity 200ms;

        @at-root body #{&} {
            width: 100%;
            height: auto;
        }
    }

    svg {
        fill: currentColor;
    }

    body:not(.object-loaded) :is(object[type="image/svg+xml"], lottie-player) {
        opacity: 0;
    }

    picture {
        display: block;
        height: 100%;
    }
}

//== TEXT
body[pgs~="bodyText"] {
    letter-spacing: 0.4px;
    font-family: var(--font);
    font-weight: 500;
    font-size: 1.6rem;
    font-optical-sizing: auto;
    font-style: normal;

    span {
        overflow-wrap: anywhere;
    }

    p {
        color: var(--color-text);
        line-height: 1.5;
        overflow-wrap: anywhere;

        a {
            color: var(--color-link);
            text-decoration: underline;
        }
    }

    a {
        color: var(--color-black);
        text-decoration: none;
        overflow-wrap: anywhere;

        &:hover {
            color: color-mix(in srgb, var(--color-link) 100%, var(--color-whiteFixed) 50%);
            text-decoration: underline;
        }

        img,
        object,
        lottie-player {
            vertical-align: bottom;
        }
    }
}

//== heading
body[pgs~="bodyHeading"] {
    h1 {
        @include h1();
    }

    h2 {
        @include h2();
    }

    h3 {
        @include h3();
    }

    h4 {
        @include h4();
    }

    h5 {
        @include h5();
    }
}