@use "../mixin/mixin" as *;

//# BORDER - BORDER RADIUS - OUTLINE
//= BORDER

:is([pgs~="border"], [pgs*="border\5B"]) {

    &:not([pgs*="border\5B"]),
    &[pgs*="border[]"] {
        border: var(--border-width) solid var(--border-color);
    }

    //- BASE (all four sides)
    &[pgs*="'brdThin'"] {
        border: 1px solid var(--border-color);
    }

    &[pgs*="'brdThick'"] {
        border: 3px solid var(--border-color);
    }

    &[pgs*="'brdThicker'"] {
        border: 4.5px solid var(--border-color);
    }

    //- BLOCK
    &[pgs*="'brdBlock'"] {
        border-block: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdBlockThin'"] {
        border-block: 1px solid var(--border-color);
    }

    &[pgs*="'brdBlockThick'"] {
        border-block: 3px solid var(--border-color);
    }

    &[pgs*="'brdBlockThicker'"] {
        border-block: 4.5px solid var(--border-color);
    }

    //- INLINE
    &[pgs*="'brdInline'"] {
        border-inline: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdInlineThin'"] {
        border-inline: 1px solid var(--border-color);
    }

    &[pgs*="'brdInlineThick'"] {
        border-inline: 3px solid var(--border-color);
    }

    &[pgs*="'brdInlineThicker'"] {
        border-inline: 4.5px solid var(--border-color);
    }

    //- TOP
    &[pgs*="'brdTop'"] {
        border-top: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdTopThin'"] {
        border-top: 1px solid var(--border-color);
    }

    &[pgs*="'brdTopThick'"] {
        border-top: 3px solid var(--border-color);
    }

    &[pgs*="'brdTopThicker'"] {
        border-top: 4.5px solid var(--border-color);
    }

    //- RIGHT
    &[pgs*="'brdRight'"] {
        border-right: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdRightThin'"] {
        border-right: 1px solid var(--border-color);
    }

    &[pgs*="'brdRightThick'"] {
        border-right: 3px solid var(--border-color);
    }

    &[pgs*="'brdRightThicker'"] {
        border-right: 4.5px solid var(--border-color);
    }

    //- BOTTOM
    &[pgs*="'brdBottom'"] {
        border-bottom: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdBottomThin'"] {
        border-bottom: 1px solid var(--border-color);
    }

    &[pgs*="'brdBottomThick'"] {
        border-bottom: 3px solid var(--border-color);
    }

    &[pgs*="'brdBottomThicker'"] {
        border-bottom: 4.5px solid var(--border-color);
    }

    //- LEFT
    &[pgs*="'brdLeft'"] {
        border-left: var(--border-width) solid var(--border-color);
    }

    &[pgs*="'brdLeftThin'"] {
        border-left: 1px solid var(--border-color);
    }

    &[pgs*="'brdLeftThick'"] {
        border-left: 3px solid var(--border-color);
    }

    &[pgs*="'brdLeftThicker'"] {
        border-left: 4.5px solid var(--border-color);
    }
}

//= BORDER RADIUS
:is([pgs~="borderRadius"], [pgs*="borderRadius\5B"]) {
    border-radius: var(--border-radius);

    &[pgs*="'input'"] {
        border-radius: var(--border-radius-input);
    }

    &[pgs*="'external'"] {
        border-radius: var(--border-radius-external);
    }
}

//= OUTLINE
:is([pgs~="outline"], [pgs*="outline\5B"]) {
    outline: var(--outline-width) var(--outline-style) var(--outline-color);
    
    &[pgs*="'otlThin'"] {
        --outline-width: 1px;
    }

    &[pgs*="'otlThick'"] {
        --outline-width: 3px;
    }

    &[pgs*="'otlThicker'"] {
        --outline-width: 4.5px;
    }
}