@use "../mixin/mixin" as *;

//# COLOR 

//= BACKGROUND COLORS 
[pgs~=bgWhite] { background-color: var(--color-white); }

[pgs~=bgBlack] { background-color: var(--color-black); }

[pgs~=bgWhiteTransparent] { background-color: var(--color-white-transparent); }

[pgs~=bgBlackTransparent] { background-color: var(--color-black-transparent); }

[pgs~=bgText] { background-color: var(--color-text); }

[pgs~=bgBox] { background-color: var(--color-box); }

[pgs~=bgBoxDark] { background-color: var(--color-boxDark); }

[pgs~=bgBoxTransparent] { background-color: var(--color-box-transparent); }

[pgs~=bgBoxDarkTransparent] { background-color: var(--color-boxDark-transparent); }

[pgs~=bglink-soft] { background-color: var(--color-link-soft); }

[pgs~=bgBackground] { background-color: var(--color-background); }

[pgs~=bgWhiteFixed] { background-color: var(--color-whiteFixed); }

[pgs~=bgBlackFixed] { background-color: var(--color-blackFixed); }

[pgs~=bgLink] { background-color: var(--color-link); }

[pgs~=bgGray] { background-color: var(--color-gray); }

//== PRIMARY VARIANTS
[pgs~=bgPrimary] { background-color: var(--color-primary); }

[pgs~=bgPrimarySoft] { background-color: var(--color-primary-soft); }

[pgs~=bgPrimaryLight] { background-color: var(--color-primary-light); }

[pgs~=bgPrimaryStrong] { background-color: var(--color-primary-strong); }

[pgs~=bgPrimaryDark] { background-color: var(--color-primary-dark); }

//== SECONDARY VARIANTS
[pgs~=bgSecondary] { background-color: var(--color-secondary); }

[pgs~=bgSecondarySoft] { background-color: var(--color-secondary-soft); }

[pgs~=bgSecondaryLight] { background-color: var(--color-secondary-light); }

[pgs~=bgSecondaryStrong] { background-color: var(--color-secondary-strong); }

[pgs~=bgSecondaryDark] { background-color: var(--color-secondary-dark); }

//== TERTIARY VARIANTS
[pgs~=bgTertiary] { background-color: var(--color-tertiary); }

[pgs~=bgTertiarySoft] { background-color: var(--color-tertiary-soft); }

[pgs~=bgTertiaryLight] { background-color: var(--color-tertiary-light); }

[pgs~=bgTertiaryStrong] { background-color: var(--color-tertiary-strong); }

[pgs~=bgTertiaryDark] { background-color: var(--color-tertiary-dark); }

//== QUATERNARY VARIANTS
[pgs~=bgQuaternary] { background-color: var(--color-quaternary); }

[pgs~=bgQuaternarySoft] { background-color: var(--color-quaternary-soft); }

[pgs~=bgQuaternaryLight] { background-color: var(--color-quaternary-light); }

[pgs~=bgQuaternaryStrong] { background-color: var(--color-quaternary-strong); }

[pgs~=bgQuaternaryDark] { background-color: var(--color-quaternary-dark); }

//== STATUS
[pgs~=bgInfo] { background-color: var(--color-info); }

[pgs~=bgError] { background-color: var(--color-error); }

[pgs~=bgWarning] { background-color: var(--color-warning); }

[pgs~=bgSuccess] { background-color: var(--color-success); }

//== STATUS BACKGROUNDS
[pgs~=bgInfoSoft] { background-color: var(--color-info-soft); }

[pgs~=bgErrorSoft] { background-color: var(--color-error-soft); }

[pgs~=bgWarningSoft] { background-color: var(--color-warning-soft); }

[pgs~=bgSuccessSoft] { background-color: var(--color-success-soft); }

//= TEXT COLORS 
[pgs~=txtWhite] { color: var(--color-white); }

[pgs~=txtBlack] { color: var(--color-black); }

[pgs~=txtGray] { color: var(--color-gray); }

[pgs~=txtText] { color: var(--color-text); }

[pgs~=txtBox] { color: var(--color-box); }

[pgs~=txtBoxDark] { color: var(--color-boxDark); }

[pgs~=txtLinkSoft] { color: var(--color-link-soft); }

[pgs~=txtWhiteFixed] { color: var(--color-whiteFixed); }

[pgs~=txtBlackFixed] { color: var(--color-blackFixed); }

[pgs~=txtLink] { color: var(--color-link); }

//== PRIMARY VARIANTS
[pgs~=txtPrimary] { color: var(--color-primary); }

[pgs~=txtPrimarySoft] { color: var(--color-primary-soft); }

[pgs~=txtPrimaryLight] { color: var(--color-primary-light); }

[pgs~=txtPrimaryStrong] { color: var(--color-primary-strong); }

[pgs~=txtPrimaryDark] { color: var(--color-primary-dark); }

//== SECONDARY VARIANTS
[pgs~=txtSecondary] { color: var(--color-secondary); }

[pgs~=txtSecondarySoft] { color: var(--color-secondary-soft); }

[pgs~=txtSecondaryLight] { color: var(--color-secondary-light); }

[pgs~=txtSecondaryStrong] { color: var(--color-secondary-strong); }

[pgs~=txtSecondaryDark] { color: var(--color-secondary-dark); }

//== TERTIARY VARIANTS
[pgs~=txtTertiary] { color: var(--color-tertiary); }

[pgs~=txtTertiarySoft] { color: var(--color-tertiary-soft); }

[pgs~=txtTertiaryLight] { color: var(--color-tertiary-light); }

[pgs~=txtTertiaryStrong] { color: var(--color-tertiary-strong); }

[pgs~=txtTertiaryDark] { color: var(--color-tertiary-dark); }

//== QUATERNARY VARIANTS
[pgs~=txtQuaternary] { color: var(--color-quaternary); }

[pgs~=txtQuaternarySoft] { color: var(--color-quaternary-soft); }

[pgs~=txtQuaternaryLight] { color: var(--color-quaternary-light); }

[pgs~=txtQuaternaryStrong] { color: var(--color-quaternary-strong); }

[pgs~=txtQuaternaryDark] { color: var(--color-quaternary-dark); }

//== STATUS
[pgs~=txtInfo] { color: var(--color-info); }

[pgs~=txtError] { color: var(--color-error); }

[pgs~=txtWarning] { color: var(--color-warning); }

[pgs~=txtSuccess] { color: var(--color-success); }

//== STATUS BACKGROUNDS
[pgs~=txtInfoSoft] { color: var(--color-info-soft); }

[pgs~=txtErrorSoft] { color: var(--color-error-soft); }

[pgs~=txtWarningSoft] { color: var(--color-warning-soft); }

[pgs~=txtSuccessSoft] { color: var(--color-success-soft); }

//= ICON COLORS 
[pgs~=iconColorPrimary] { color: var(--color-icon-primary); }

[pgs~=iconColorSecondary] { color: var(--color-icon-secondary); }

//= BORDER COLORS 
[pgs~=brPrimary] { border-color: var(--color-primary); }

[pgs~=brSecondary] { border-color: var(--color-secondary); }

[pgs~=brTertiary] { border-color: var(--color-tertiary); }

[pgs~=brQuaternary] { border-color: var(--color-quaternary); }

[pgs~=brWhite] { border-color: var(--color-white); }

[pgs~=brBlack] { border-color: var(--color-black); }

[pgs~=brBox] { border-color: var(--color-box); }

[pgs~=brBoxDark] { border-color: var(--color-boxDark); }

[pgs~=brLink] { border-color: var(--color-link); }

[pgs~=brInfo] { border-color: var(--color-info); }

[pgs~=brError] { border-color: var(--color-error); }

[pgs~=brWarning] { border-color: var(--color-warning); }

[pgs~=brSuccess] { border-color: var(--color-success); }

[pgs~=brGray] { border-color: var(--color-gray); }

//= OUTLINE COLORS 
[pgs~=olPrimary] { outline-color: var(--color-primary); }

[pgs~=olSecondary] { outline-color: var(--color-secondary); }

[pgs~=olTertiary] { outline-color: var(--color-tertiary); }

[pgs~=olQuaternary] { outline-color: var(--color-quaternary); }

[pgs~=olWhite] { outline-color: var(--color-white); }

[pgs~=olBlack] { outline-color: var(--color-black); }

[pgs~=olBox] { outline-color: var(--color-box); }

[pgs~=olBoxDark] { outline-color: var(--color-boxDark); }

[pgs~=olLink] { outline-color: var(--color-link); }

[pgs~=olInfo] { outline-color: var(--color-info); }

[pgs~=olError] { outline-color: var(--color-error); }

[pgs~=olWarning] { outline-color: var(--color-warning); }

[pgs~=olSuccess] { outline-color: var(--color-success); }

[pgs~=olGray] { outline-color: var(--color-gray); }
