@use "../mixin/mixin" as *;

//# GENERAL
:is([pgs~="darkmode"], [pgs*="darkmode\5B"]) {
    color-scheme: dark;
}

:is([pgs~="lightmode"], [pgs*="lightmode\5B"]) {
    color-scheme: light;
}

:is([pgs~="blur"], [pgs*="blur\5B"]) {
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

:is([pgs~="appearanceNone"], [pgs*="appearanceNone\5B"]) {
    all: unset;
    appearance: none;
}

:is([pgs~="pointer"], [pgs*="pointer\5B"]) {
    cursor: pointer;
}

:is([pgs~="hidden"], [pgs*="hidden\5B"]) {
    display: none !important;
}

//= LIST
:is([pgs~="list"], [pgs*="list\5B"]) {
    @include list();
}

:is([pgs~="textShadow"], [pgs*="textShadow\5B"]) {
    text-shadow: var(--text-shadow);
}

:is([pgs~="boxShadow"], [pgs*="boxShadow\5B"]) {
    box-shadow: var(--box-shadow);
}

//= ACCESSIBILITY
:is([pgs~="visuallyHidden"], [pgs*="visuallyHidden\5B"]),
:is([pgs~="visuallyHiddenFocusable"], [pgs*="visuallyHiddenFocusable\5B"]):not(:focus):not(:focus-within),
:is([pgs~="skipLink"], [pgs*="skipLink\5B"]):not(:focus):not(:focus-visible) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

:is([pgs~="focusRing"], [pgs*="focusRing\5B"]):focus-visible {
    outline: var(--focus-visible);
    outline-offset: 3px;
}

:is([pgs~="skipLink"], [pgs*="skipLink\5B"]):focus-visible {
    position: fixed;
    top: var(--gap-texts);
    left: var(--gap-texts);
    z-index: 9999;
    padding: var(--padding-half);
    border-radius: var(--border-radius-input);
    background-color: var(--color-background);
    color: var(--color-link);
    outline: var(--focus-visible);
    outline-offset: 3px;
}

@media (prefers-reduced-motion: reduce) {

    :is([pgs~="motionReduce"], [pgs*="motionReduce\5B"]),
    :is([pgs~="motionReduce"], [pgs*="motionReduce\5B"])::before,
    :is([pgs~="motionReduce"], [pgs*="motionReduce\5B"])::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

//= IMG
:is([pgs~="imgCover"], [pgs*="imgCover\5B"]) {
    object-fit: cover;
}

:is([pgs~="imgContain"], [pgs*="imgContain\5B"]) {
    object-fit: contain;
}