@use "../mixin/mixin" as *;

//+ MIXIN
:where([pgs~="htmlBase"]) {

    // = SETTINGS 
    &:root {
        --SIZE: 3.0rem;
        --SIZE-texts: calc(var(--SIZE) / 2);
        --SIZE-groups: calc(var(--SIZE) * 2);
        --SIZE-sections: calc(var(--SIZE-groups) + 10svh);
        $SIZE: var(--SIZE);
        $SIZE-texts: var(--SIZE-texts);
        $SIZE-groups: var(--SIZE-groups);
        $SIZE-sections: var(--SIZE-sections);
        // Padding
        --padding-texts: #{$SIZE-texts};
        --padding-elements: #{$SIZE};
        --padding-groups: #{$SIZE-groups};
        --padding-sections: #{$SIZE-sections};
        // Margin
        --margin-texts: #{$SIZE-texts};
        --margin-elements: #{$SIZE};
        --margin-groups: #{$SIZE-groups};
        --margin-sections: #{$SIZE-sections};
        // Gap
        --gap-texts: #{$SIZE-texts};
        --gap-elements: #{$SIZE};
        --gap-groups: #{$SIZE-groups};
        --gap-sections: #{$SIZE-sections};
        // Font
        --font: 'Urbanist', sans-serif;
        --font-heading: var(--font);
        --font-weight-title: 800;
        --font-weight-bold: 600;
        --font-weight-text: 500;
        --font-size-text: 1.6rem;
        // Border
        --border-radius: #{$SIZE};
        --border-radius-external: calc(var(--border-radius) + #{$SIZE});
        --border-radius-input: #{$SIZE-texts};
        --border-width: 1px;
        --border-style: solid;
        --border-color: color-mix(in srgb, var(--color-black) 8%, transparent);
        --border-complete: var(--border-width) var(--border-color) var(--border-style);
        // Outline
        --outline-width: 1px;
        --outline-style: solid;
        --outline-color: color-mix(in srgb, var(--color-black) 8%, transparent);
        // Page
        --page-padding: min(3vw, #{$SIZE});
        --page-top: calc(var(--heightOfHeader) + 7lvh);
        --page-topScroll: calc(var(--heightOfHeaderScroll) + var(--heightOfHeader));
        --page-width: 1280px;
        --page-edge: max(var(--page-padding), calc((100cqw - var(--page-width)) / 2));
        --page-edgeFlush: max(0px, calc((100cqw - var(--page-width)) / 2 - var(--page-padding)));
        //
        --box-shadow: 0px 0px 38px 0px #0000000d;
        --text-shadow: 0px 0px 4px #00000040, 0px 0px 4px #0000002d;
        --backdrop: #0000007a;
        --blur: blur(20px);
        --focus-visible: 3px solid var(--color-focus);
        --heightOfHeader: 6.8rem; ///dummy preload value
        --heightOfHeaderScroll: 6.8rem; ///dummy preload value
        --heightOfNavSmart: 8.9rem; ///dummy preload value
        --heightOfNavSmartScroll: 8.9rem; ///dummy preload value

        //- mobile 
        @media (max-width: $mobile) { --gap-sections: calc(7.3rem + 8svh); }
    }

    //= COLOR 
    //== LIGHTMODE & DARKMODE
    &:root {
        color-scheme: light;

        &[pgs-state~=darkmode] { color-scheme: dark; }

        //== Primary colors
        --color-primary: #3aa561;
        --color-secondary: #ffa600;
        --color-tertiary: #00f2ff;
        --color-quaternary: #ddff00;
        //=== Primary Texts
        --color-primary-text: #87ffb3;
        --color-secondary-text: #492f00;
        --color-tertiary-text: #004a4e;
        --color-quaternary-text: #323900;
        //== Variant color
        $percentage-light: 78%;
        $percentage-dark: 60%;
        //=== soft
        --color-primary-soft: light-dark(color-mix(in srgb, var(--color-primary), var(--color-white) #{$percentage-light}), color-mix(in srgb, var(--color-primary), var(--color-white) #{$percentage-dark}));
        --color-secondary-soft: light-dark(color-mix(in srgb, var(--color-secondary), var(--color-white) #{$percentage-light}), color-mix(in srgb, var(--color-secondary), var(--color-white) #{$percentage-dark}));
        --color-quaternary-soft: light-dark(color-mix(in srgb, var(--color-quaternary), var(--color-white) #{$percentage-light}), color-mix(in srgb, var(--color-quaternary), var(--color-white) #{$percentage-dark}));
        --color-tertiary-soft: light-dark(color-mix(in srgb, var(--color-tertiary), var(--color-white) #{$percentage-light}), color-mix(in srgb, var(--color-tertiary), var(--color-white) #{$percentage-dark}));
        //=== light
        --color-primary-light: color-mix(in srgb, var(--color-primary), var(--color-whiteFixed) #{$percentage-light});
        --color-secondary-light: color-mix(in srgb, var(--color-secondary), var(--color-whiteFixed) #{$percentage-light});
        --color-quaternary-light: color-mix(in srgb, var(--color-quaternary), var(--color-whiteFixed) #{$percentage-light});
        --color-tertiary-light: color-mix(in srgb, var(--color-tertiary), var(--color-whiteFixed) #{$percentage-light});
        //=== strong    
        --color-primary-strong: light-dark(color-mix(in srgb, var(--color-primary), var(--color-black) #{$percentage-dark}), color-mix(in srgb, var(--color-primary), var(--color-black) #{$percentage-light}));
        --color-secondary-strong: light-dark(color-mix(in srgb, var(--color-secondary), var(--color-black) #{$percentage-dark}), color-mix(in srgb, var(--color-secondary), var(--color-black) #{$percentage-light}));
        --color-quaternary-strong: light-dark(color-mix(in srgb, var(--color-quaternary), var(--color-black) #{$percentage-dark}), color-mix(in srgb, var(--color-quaternary), var(--color-black) #{$percentage-light}));
        --color-tertiary-strong: light-dark(color-mix(in srgb, var(--color-tertiary), var(--color-black) #{$percentage-dark}), color-mix(in srgb, var(--color-tertiary), var(--color-black) #{$percentage-light}));
        //=== dark
        --color-primary-dark: color-mix(in srgb, var(--color-primary), var(--color-blackFixed) #{$percentage-dark});
        --color-secondary-dark: color-mix(in srgb, var(--color-secondary), var(--color-blackFixed) #{$percentage-dark});
        --color-quaternary-dark: color-mix(in srgb, var(--color-quaternary), var(--color-blackFixed) #{$percentage-dark});
        --color-tertiary-dark: color-mix(in srgb, var(--color-tertiary), var(--color-blackFixed) #{$percentage-dark});
        // == Base colors
        --color-white: light-dark(#FFFFFF, #000000);
        --color-black: light-dark(#000000, #FFFFFF);
        --color-white-transparent: color-mix(in srgb, var(--color-white) 50%, transparent 100%);
        --color-black-transparent: color-mix(in srgb, var(--color-black) 50%, transparent 100%);
        --color-text: light-dark(#4a4a4a, #e3e3e3);
        --color-box: light-dark(#f5f5f8, #222121);
        --color-boxDark: light-dark(#222121, #f5f5f8);
        --color-box-transparent: light-dark(color-mix(in srgb, #eeeeee 50%, transparent 50%), color-mix(in srgb, #222121 50%, transparent 50%));
        --color-boxDark-transparent: light-dark(color-mix(in srgb, #222121 50%, transparent 50%), color-mix(in srgb, #eeeeee 50%, transparent 50%));
        --color-background: light-dark(#ffffff, #080808);
        --color-whiteFixed: #FFFFFF;
        --color-blackFixed: #000000;
        --color-link: #009EFF;
        --color-link-soft: color-mix(in srgb, var(--color-link) 20%, var(--color-white) 80%);
        --color-gray: #a4a4a4;
        --color-icon-primary: var(--color-primary);
        --color-icon-secondary: var(--color-primary-soft);
        --color-focus: var(--color-link);
        // == status 
        --color-info: var(--color-link);
        --color-error: #ff6161;
        --color-warning: #ffa900;
        --color-success: #4ab94a;
        --color-info-soft: var(--color-link-soft);
        --color-error-soft: color-mix(in srgb, var(--color-error) 20%, var(--color-white) 80%);
        --color-warning-soft: color-mix(in srgb, var(--color-warning) 20%, var(--color-white) 80%);
        --color-success-soft: color-mix(in srgb, var(--color-success) 20%, var(--color-white) 80%);
    }
}