//= BOX
//# BOX
@mixin box() {
    --box-padding: var(--padding-elements);
    --box-borderRadius: calc(var(--border-radius-input) + var(--box-padding));
    --box-background: var(--color-box-transparent);
    padding: var(--box-padding);
    background: var(--box-background);
    border-radius: var(--box-borderRadius);

    &:where(a) {
        --box-background: var(--color-white);
        display: block;
        outline: var(--border-complete);
        transition: var(--hover-transition);

        @include boxHover();
    }
}

//## HOVER
@mixin boxHover() {
    @media (hover: hover) and (pointer: fine) {
        &:hover { --box-background: var(--hover-background); }
    }
}

//## Nav Smart
@mixin boxNavSmart() {
    --box-padding: .4rem;
    --box-borderRadius: 999px;
    --box-background: var(--color-box-transparent);
    --box-border: 1px solid color-mix(in srgb, var(--color-black) 8%, transparent);
    --box-shadow: 0 .8rem 3rem color-mix(in srgb, var(--color-blackFixed) 14%, transparent);
    border: var(--box-border);
    box-shadow: var(--box-shadow);
    -webkit-backdrop-filter: var(--blur) saturate(1.8);
    backdrop-filter: var(--blur) saturate(1.8);
}