//+ VAR
@use "mx-hover" as *;

//= BUTTON
//+ BUTTON COLOR
@mixin _buttonColor($for: "") {
    color: var(--button-color#{$for});
    background: var(--button-background#{$for});
    border-color: var(--button-background#{$for});
}

//== BUTTON BASE
@mixin buttonBase() {
    --button-primaryColor: var(--color-primary-strong);
    /// color
    --button-color: var(--color-black);
    --button-color-strong: var(--color-white);
    --button-color-current: var(--color-white);
    --button-color-active: var(--color-white);
    /// background
    --button-background: var(--color-box);
    --button-background-strong: var(--button-primaryColor);
    --button-background-current: var(--button-primaryColor);
    --button-background-active: var(--button-primaryColor);
    /// size
    --button-size: 1.5rem;
    --button-icon-size: 2rem;
    --button-padding-block: var(--button-size);
    --button-padding-left: calc(var(--button-size) * 2);
    --button-padding-right: calc(var(--button-size) * 2);
    --button-padding: var(--button-padding-block) var(--button-padding-right) var(--button-padding-block) var(--button-padding-left);
    --button-height: max-content;
    /// border
    --button-border-width: var(--border-width);
    --button-border-style: var(--border-style);
    --button-border-color: var(--border-color);
    --button-border-color-strong: var(--button-primaryColor);
    --button-border-color-current: var(--button-primaryColor);
    --button-border-color-active: var(--button-primaryColor);
    --button-border: var(--button-border-width) var(--button-border-color) var(--button-border-style);
    --button-borderRadius: var(--border-radius-input);
    /// color
    @include _buttonColor();
    --icon-size: var(--button-icon-size);
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-width: var(--button-border-width);
    border-style: var(--button-border-style);
    border-color: var(--button-border-color);
    border-radius: var(--button-borderRadius);
    display: flex;
    gap: calc(var(--button-size) / 2);
    align-items: center;
    justify-content: center;
    padding: var(--button-padding);
    height: var(--button-height);
    //x da controllare
    // width: max-content;
    width: fit-content;

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }

    &:where([aria-current=page]),
    &:where([aria-selected=true]) {
        @include _buttonColor("-current");
    }
}

//== BUTTON CONTENT - ICON
//=== BUTTON CONTENT
@mixin buttonContent() {
    $button-right: calc(var(--button-size) * 2);
    $button-left: calc(var(--button-size) * 1.5);

    &:where(:has(i)) {
        --button-padding-right: #{$button-right};
        --button-padding-left: #{$button-left};
    }

    &:where([pgs-option~="buttonReverse"]:has(i)) {
        --button-padding-right: #{$button-left};
        --button-padding-left: #{$button-right};
    }
}

//=== BUTTON ICON
@mixin buttonIcon() {
    --button-padding: var(--button-padding-block);
    --button-borderRadius: 50%;
    flex: 0 0;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;

    i,
    [pgs~=icon] {
        display: inline-grid;
        place-items: center;
        inline-size: calc(var(--button-icon-size) + 2px);
        block-size: var(--button-icon-size);
        line-height: 1;
        aspect-ratio: 1;
    }
}

//== BUTTON HOVER - NOHOVER
//=== BUTTON HOVER
@mixin buttonHover() {
    @include hover();
}

//=== BUTTON NOT HOVER
@mixin buttonNohover() {
    transition: all 200ms;
    cursor: inherit;
}

//== BUTTON STRONG
@mixin buttonStrong() {
    @include _buttonColor("-strong");
}

//== BUTTON MINI
@mixin buttonMini() {
    --button-size: 0.9rem;
    display: inline-flex;
}

//== BUTTON BIG
@mixin buttonBig() {
    --button-padding-right: var(--padding);
    --button-padding-left: var(--padding);
    --button-height: 100%;
    --button-icon-size: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    aspect-ratio: 1;
    text-align: center;
}

//== BUTTON TRANSPARENT
@mixin buttonTransparent() {
    $color: var(--button-primaryColor);
    --button-border-width: 0;
    --button-background: transparent;
    --button-background-strong: transparent;
    --button-background-current: transparent;
    --button-background-active: transparent;
    --hover-background: transparent;
    --button-color-strong: #{$color};
    --button-color-current: #{$color};
    --button-color-active: #{$color};
    --hover-color: #{$color};
}

@mixin buttonText() {
    --button-border-width: 0;
    --button-background: transparent;
}

//== HEADER
//=== BUTTON HEADER
@mixin buttonHeader() {
    --button-size: 1.2rem;
    --button-border: unset;
    overflow-wrap: break-word;
    height: calc(var(--button-size) * 4);
}