@use "settings" as *;
@use "mx-button" as *;
@use "mx-hover" as *;
@use "mx-responsive" as *;

@mixin _cardContent() {

    &:is(a),
    &:not(:has(>a)),
    >a {
        padding: 0;
        overflow: hidden;
    }

    >object,
    >img,
    >a>object,
    >a>img {
        display: block;
        padding: var(--card-img-padding);
        width: 100%;
        max-width: 100%;
        min-width: 0;
        height: auto;
        margin: 0;
        object-fit: cover;
    }

    [pgs~=card-content] {
        min-width: 0;
        padding: var(--card-padding);
    }
}

@mixin _cardContentLegacy() {
    --card-img-base: calc(var(--card-padding) * -1);
    --card-img-margin-right: var(--card-img-base);
    --card-img-margin-left: var(--card-img-base);
    --card-img-margin-top: var(--card-img-base);
    --card-img-margin-bottom: var(--card-padding);

    &:is(a),
    &:not(:has(>a)),
    >a {
        padding: var(--card-padding);
    }

    >object,
    >img,
    >a>object,
    >a>img {
        display: block;
        padding: var(--card-img-padding);
        width: calc((var(--card-padding) * 2) + 100%);
        max-width: none;
        height: auto;
        margin: var(--card-img-margin-top) var(--card-img-margin-right) var(--card-img-margin-bottom) var(--card-img-margin-left);
        border-radius: var(--card-borderRadius);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:where([pgs-option~=cardMini]) {
        --card-padding: var(--padding-2);
    }
}

@mixin _cardContentHorizontal() {

    //- cardHorizontal
    &[pgs-option~=cardHorizontal] {

        &:is(a),
        &:not(:has(>a)),
        >a {
            flex-flow: row wrap;
        }

        [pgs~=card-content],
        >object,
        >img,
        >a>object,
        >a>img {
            flex-basis: calc((var(--card-horizontal-breakpoint) - 100%) * 999);
        }

        [pgs~=card-content] {
            flex-grow: var(--card-horizontal-content-grow);
        }

        >object,
        >img,
        >a>object,
        >a>img {
            flex-grow: var(--card-horizontal-img-grow);
            min-height: var(--card-horizontal-img-minHeight);
        }
    }
}

@mixin card() {
    --card-padding: var(--padding);
    --card-borderRadius: calc(var(--border-radius-input) + var(--card-padding));
    --card-background: var(--color-box-transparent);
    --card-img-padding: 0;
    --card-horizontal-breakpoint: #{$mobile};
    --card-horizontal-img-grow: 2;
    --card-horizontal-content-grow: 3;
    --card-horizontal-img-minHeight: 300px;

    &:is(a),
    &:not(:has(>a)),
    >a {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: var(--card-background);
        border-radius: var(--card-borderRadius);
    }

    &:is(a),
    >a {
        --card-background: var(--color-white);
        @include hover();
        outline: var(--border-complete);
    }

    &:where(:not([pgs-option~=cardLegacy])) {
        @include _cardContent();
    }

    //- cardLegacy
    &[pgs-option~=cardLegacy] {
        @include _cardContentLegacy();
    }

    //- cardHorizontal
    &[pgs-option~=cardHorizontal] {
        @include _cardContentHorizontal();
    }

    //- cardmini
    &[pgs-option~=cardMini] {
        [pgs~=card-content] {
            --card-padding: var(--padding-2);
        }
    }
}

@mixin box() {
    --box-padding: var(--padding);
    --box-borderRadius: calc(var(--border-radius-input) + var(--box-padding));
    --box-background: var(--color-box-transparent);

    &:not(:has(>a)),
    &:is(a),
    >a {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--box-padding);
        background: var(--box-background);
        border-radius: var(--box-borderRadius);
    }

    &:is(a),
    >a {
        --box-background: var(--color-white);
        @include hover();
        outline: var(--border-complete);
    }

    //- boxmini
    &[pgs-option~=boxMini] {
        --box-padding: var(--padding-2);
    }
}
