@mixin _hoverColor() {
    --hover-color: var(--color-whiteFixed);
    --hover-background: var(--color-primary-strong);
    --hover-color: var(--color-white);
    --hover-shadow-color: var(--hover-background);
    --fa-primary-color: var(--hover-color);
    --fa-secondary-color: var(--hover-color);
    --fa-secondary-opacity: 0.5;
    background: var(--hover-background);
    color: var(--hover-color);
    outline-color: var(--hover-background);

    :is(h1, h2, h3, h4, h5, h6, p) {
        color: var(--hover-color);
    }

    [pgs~=hover-text] {
        color: var(--hover-color);
    }
}

//+ HOVER
@mixin _hoverContent1() {
    box-shadow: 0px 0px 38px 0px var(--hover-shadow-color);
    @include _hoverColor();
}

//= HOVER
@mixin hover() {
    $transition: unset 0ms;

    &:where(:not(:disabled)) {
        transition: $transition;
        cursor: pointer;
        text-decoration: none;
        $color: var(--color-primary-strong);
        $colorTxtSafari: var(--color-whiteFixed);


        @media (hover: hover) and (pointer: fine) {

            &:focus-visible,
            &:hover {
                @include _hoverContent1();
            }
        }

        * {
            transition: $transition;
            text-decoration: none;

            &::before,
            &::after {
                transition: $transition;
            }
        }
    }
}
