//# MENU
@mixin menu($direction: row, $isHeader: true) {

    >ul {
        display: flex;
        font-weight: 600;
        align-items: center;
        flex-direction: $direction;
        column-gap: var(--gap-texts);
        row-gap: 1.0rem;
        // width: 100%;
        isolation: isolate;
        flex-wrap: nowrap;

        //= Content
        >li {

            >a {
                flex-grow: 1;
                min-width: fit-content;
                
                @include button();
                @if($isHeader) {
                    @include button_header();
                }
                span {
                    line-height: 1.6;
                    flex-grow: 1;
                }
            }
        }
    }

    //= ROW 
    @if($direction ==row) {
        ul {
            >li>a {
                width: max-content;
            }

            //== Sub menu
            >li.menu-item-has-children {
                display: flex;
                gap: 0.2rem;
                flex-wrap: nowrap;
                isolation: isolate;

                >a {
                    border-radius: var(--border-radius-input);
                    // box-shadow: var(--box-shadow);
                }

                ul.sub-menu {
                    &:not([popover]) {
                        display: none;

                        li a {
                            min-width: 100% !important;
                        }
                    }

                    &[pgs-state~=open] {
                        display: flex;
                    }
                }

                //== ICON
                button.icon-down {
                    --button-size: 0.9rem;
                    margin-right: -15px;
                    margin-block: auto;
                    scale: 0.9;
                    height: min-content;
                    cursor: pointer;
                    translate: -15px;
                    z-index: -1;

                    &[aria-expanded="true"] {
                        span {
                            rotate: 180deg;
                        }
                    }
                }
            }
        }
    }

    //= COLUMN 
    @if($direction ==column) {
        ul {
            li {
                width: -webkit-fill-available;

                >a {
                    width: 100%;
                    padding: 1.5rem;
                    --button-background: transaprent;
                }
            }

            //== Sub menu
            >li:has(ul.sub-menu) {
                @include flexRow;
                align-items: center;

                button.icon-down {
                    --button-background: var(--color-boxDark);
                    --button-color: var(--color-white);
                    max-height: max-content;
                    justify-content: center;

                    span {
                        transition: all 300ms;
                    }

                    &[aria-expanded="true"] span {
                        rotate: 180deg;
                    }
                }

                a {
                    max-width: calc(90% - var(--gap-texts));
                }

                >ul {
                    flex-basis: 100%;

                    &.sub-menu:not([pgs-state~=open]) {
                        display: none;
                    }

                    &.sub-menu[pgs-state~=open] {
                        padding-left: 2rem;
                        margin-left: 2rem;
                        border-left: solid 2px var(--color-gray);
                    }
                }
            }
        }
    }
}

@mixin menuFooter() {
    ul {
        @include flexColumn();

        li {
            a {
                color: var(--color-text);
                font-weight: 600;
            }
        }
    }
}