//+ VAR
@use "mx-hover" as *;

//+ BUTTON COLOR
@mixin _buttonColor($for: "") {
    color: var(--button-color#{$for});
    background: var(--button-background#{$for});
    --fa-primary-color: var(--button-color#{$for});
    --fa-secondary-color: var(--button-color#{$for});
}

//= BUTTON BASE
@mixin buttonBase() {
    /// color
    --button-color: var(--color-black);
    --button-color-strong: var(--color-whiteFixed);
    --button-color-current: var(--color-whiteFixed);
    --button-color-active: var(--color-whiteFixed);
    /// background
    --button-background: var(--color-box);
    --button-background-strong: var(--color-primary);
    --button-background-current: var(--color-primary);
    --button-background-active: var(--color-primary);
    /// olther
    --button-border: var(--border-complete);
    --button-size: 1.5rem;
    --button-icon-size: 2rem;
    --button-padding-block: var(--button-size);
    --button-padding-left: calc(var(--button-size) * 2);
    --button-padding-right: calc(var(--button-size) * 2);
    --button-padding: var(--button-padding-block) var(--button-padding-right) var(--button-padding-block) var(--button-padding-left);
    --fa-secondary-opacity: 0.5;
    --fa-size: var(--button-icon-size);
    @include _buttonColor();
    font-family: var(--font);
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    outline: var(--button-border);
    border-radius: var(--border-radius-input);
    display: flex;
    gap: calc(var(--button-size) / 1.5);
    align-items: center;
    padding: var(--button-padding);
    height: max-content;
    width: max-content;
    margin-block: auto;

    &[aria-current="page"]:not(:hover, :focus-visible) {
        @include _buttonColor("-current");
    }

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }
}

//= BUTTON CONTENT - ICON
//== BUTTON CONTENT
@mixin buttonContent() {
    $button-right: calc(var(--button-size) * 2);
    $button-left: calc(var(--button-size) * 1.5);

    &:has(i) {
        --button-padding-right: #{$button-right};
        --button-padding-left: #{$button-left};
    }

    &[pgs-option~="buttonReverse"]:has(i) {
        --button-padding-right: #{$button-left};
        --button-padding-left: #{$button-right};
    }
}

//== BUTTON ICON
@mixin buttonIcon() {
    --button-padding: var(--button-padding-block);
    flex: 0 0;
    aspect-ratio: 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    i {
        display: inline-grid;
        place-items: center;
        inline-size: calc(var(--button-icon-size) + 2px);
        block-size: var(--button-icon-size);
        line-height: 1;
        aspect-ratio: 1;
    }
}

//= BUTTON HOVER - NOHOVER
//== BUTTON HOVER
@mixin buttonHover() {
    @include hover();
}

//== BUTTON NOT HOVER
@mixin buttonNohover() {
    transition: all 200ms;
    cursor: inherit;
}

//= BUTTON STRONG
@mixin buttonStrong() {
    @include _buttonColor("-strong");
}

//= BUTTON MINI
@mixin buttonMini() {
    --button-size: 0.5rem;
    display: inline-flex;
    aspect-ratio: 1;
    margin-block: auto;
}

//= BUTTON BIG
@mixin buttonBig() {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--button-size);
    border-radius: var(--border-radius);
    aspect-ratio: 1;
    text-align: center;
    height: 100%;

    &:not(:has(i)) {
        padding-inline: var(--padding);
    }

    i {
        font-size: 6.5rem;
        z-index: 1;
    }
}

//= BUTTON CLOSE
@mixin buttonClose($important: false) {
    --button-background: var(--color-primary-soft);
    --button-size: 1rem;
    --button-icon-size: 1.3rem;
    aspect-ratio: 1;
    height: max-content;

    @if($important ==true) {
        --button-background: var(--color-error-background);
        --button-color: var(--color-error);
    }
}

//= BUTTON HEADER
@mixin button_header() {
    --button-size: 1.2rem;
    --button-border: unset;
    overflow-wrap: break-word;
    height: calc(var(--button-size) * 4);
}