@use "settings" as *;
@use "mx-button" as *;
@use "mx-hover" as *;
@use "mx-responsive" as *;

@mixin cardAndWell-insideImg($for) {
    border-radius: var(--#{$for}-borderRadius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: calc(var(--#{$for}-padding) * -1);
    padding: var(--#{$for}-padding-img);
    width: calc((var(--#{$for}-padding) * 2) + 100%);
    margin-bottom: 0;
}

@mixin card() {
    --card-padding: var(--padding);
    --card-borderRadius: calc(var(--border-radius-input) + var(--card-padding));
    --card-background: var(--color-box-transparent);
    --card-padding-img: 0;
    height: 100%;

    &:not(:has(>a)) {
        padding: var(--card-padding);
        background: var(--card-background);
        border-radius: var(--card-borderRadius);
    }

    >a {
        --card-background: var(--color-white);
        @include hover();
        height: 100%;
        padding: var(--card-padding);
        padding-bottom: calc(var(--card-padding) * 2);
        background: var(--card-background);
        border-radius: var(--card-borderRadius);
        outline: var(--border-complete);
    }

    >object,
    >img,
    >a>object,
    >a>img {
        @include cardAndWell-insideImg("card");
    }
}

@mixin well() {
    @include flexColumn();
    --well-padding: var(--padding-2);
    --well-borderRadius: calc(var(--border-radius-input) + var(--well-padding));
    --well-background: var(--color-box-transparent);
    --well-padding-img: 0;

    //-new

    &:not(:has(>a)) {
        padding: var(--well-padding);
        background: var(--well-background);
        border-radius: var(--well-borderRadius);
    }

    >a {
        --well-background: var(--color-white);
        @include hover();
        height: 100%;
        padding: var(--well-padding);
        padding-bottom: calc(var(--well-padding) * 2);
        background: var(--well-background);
        border-radius: var(--well-borderRadius);
        outline: var(--border-complete);
    }

    >object,
    >img,
    >a>object,
    >a>img {
        @include cardAndWell-insideImg("well");
    }
}
