@use "settings" as *;
@use "mx-button" as *;
@use "mx-hover" as *;
@use "mx-responsive" as *;

//# CARD
//-- selectorLinkAndNot
@mixin _selectorLinkAndNot {

    &:where(a),
    &:where(:not(:has(> a:first-child))),
    >a:first-child {
        @content;
    }
}

//-- selectorLink
@mixin _selectorLink {

    &:where(a),
    >a:first-child {
        @content;
    }
}

//== content
@mixin _cardContent() {
    @include _selectorLinkAndNot {
        padding: 0;
        overflow: hidden;
        flex-basis: 100%;

        > :is(object, img) {
            display: block;
            padding: var(--card-img-padding);
            width: 100%;
            max-width: 100%;
            min-width: 0;
            height: auto;
            margin: 0;
            object-fit: cover;
        }
    }

    [pgs~="card-content"] {
        min-width: 0;
        padding: var(--card-padding);
    }
}

//== content legacy
@mixin _cardContentLegacy() {
    --card-img-base: calc(var(--card-padding) * -1);
    --card-img-margin-right: var(--card-img-base);
    --card-img-margin-left: var(--card-img-base);
    --card-img-margin-top: var(--card-img-base);
    --card-img-margin-bottom: var(--card-padding);

    @include _selectorLinkAndNot {
        padding: var(--card-padding);

        > :is(object, img) {
            display: block;
            padding: var(--card-img-padding);
            width: calc((var(--card-padding) * 2) + 100%);
            max-width: none;
            height: auto;
            margin:
                var(--card-img-margin-top) var(--card-img-margin-right) var(--card-img-margin-bottom) var(--card-img-margin-left);
            border-radius: var(--card-borderRadius);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &:where([pgs-option~="cardMini"]) {
        --card-padding: var(--padding-2);
    }
}

//== content horizontal
@mixin _cardContentHorizontal() {

    //- cardHorizontal
    &[pgs-option~="cardHorizontal"] {
        @include _selectorLinkAndNot {
            flex-flow: row wrap;

            > :is(object, img),
            [pgs~="card-content"] {
                flex-basis: calc((var(--card-horizontal-breakpoint) - 100%) * 999);
            }

            [pgs~="card-content"] {
                flex-grow: var(--card-horizontal-content-grow);
            }

            > :is(object, img) {
                flex-grow: var(--card-horizontal-img-grow);
                min-height: var(--card-horizontal-img-minHeight);
            }
        }
    }
}

//= card
@mixin card() {
    --card-padding: var(--padding);
    --card-borderRadius: calc(var(--border-radius-input) + var(--card-padding));
    --card-background: var(--color-box-transparent);
    --card-img-padding: 0;
    --card-horizontal-breakpoint: #{$mobile};
    --card-horizontal-img-grow: 2;
    --card-horizontal-content-grow: 3;
    --card-horizontal-img-minHeight: 300px;
    display: flex;

    @include _selectorLinkAndNot {
        display: flex;
        flex-direction: column;
        background: var(--card-background);
        border-radius: var(--card-borderRadius);
    }

    @include _selectorLink {
        --card-background: var(--color-white);
        @include hover();
        outline: var(--border-complete);
    }

    //- not card Legacy
    &:where(:not([pgs-option~=cardLegacy])) {
        @include _cardContent();
    }

    //- card Legacy
    &[pgs-option~=cardLegacy] {
        @include _cardContentLegacy();
    }

    //- card Horizontal
    &[pgs-option~=cardHorizontal] {
        @include _cardContentHorizontal();
    }

    //- card Mini
    &[pgs-option~=cardMini] {
        --card-padding: var(--padding-2);
    }
}

//# BOX
//= BOX
@mixin box() {
    --box-padding: var(--padding);
    --box-borderRadius: calc(var(--border-radius-input) + var(--box-padding));
    --box-background: var(--color-box-transparent);

    @include _selectorLinkAndNot {
        padding: var(--box-padding);
        background: var(--box-background);
        border-radius: var(--box-borderRadius);
    }

    @include _selectorLink {
        --box-background: var(--color-white);
        @include hover();
        outline: var(--border-complete);
    }

    //- boxMini
    &[pgs-option~=boxMini] {
        --box-padding: var(--padding-2);
        --box-borderRadius: var(--border-radius-input);
    }
}