//# RESPONSIVE
//== CONTAINER
[pgs~=container] {
    container-type: inline-size;
}

//== FLEX
//=== FLEX COLUMN
[pgs~=flexColumn] {
    @include flexColumn();
}

[pgs~=flexColumnTexts] {
    @include flexColumn();
}

[pgs~=flexColumnElements] {
    @include flexColumnElements();
}

[pgs~=flexColumnSections] {
    @include flexColumnSections();
}

//=== FLEX ROW
[pgs~=flexRow] {
    @include flexRow();
}

[pgs~=flexRowTexts] {
    @include flexRow();
}

[pgs~=flexRowElements] {
    @include flexRowElements();
}

[pgs~=flexRowSection] {
    @include flexRowSection();
}

//=== responsive flex
@for $i from 1 through 10 {
    [pgs~=flex-#{$i}] {
        @include rFlex($i);
    }

    [pgs~=flex-#{$i}-m2e] {
        @include rFlex($i, true);
    }
}

//== GRID
@for $i from 1 through 10 {
    [pgs~=grid-#{$i}] {
        @include rGrid($i);
    }

    [pgs~=grid-#{$i}-m2e] {
        @include rGrid($i, true);
    }
}

//== GAP
[pgs~=gapTexts] {
    gap: var(--gap-texts);
}

[pgs~=gapElements]{
    gap: var(--gap-elements);
}

[pgs~=gapSections] {
    gap: var(--gap-sections);
}
