//# GENERAL
[pgs~=card],
[pgs~=cardImg] {
    @include card();

    [pgs~=card-img] {
        @include card-insideImg();
    }
}

[pgs~=boxtext] {
    @include boxtext();
}

[pgs~=darkmode] {
    color-scheme: dark;
}

[pgs~=lightmode] {
    color-scheme: light;
}

[pgs~=imgCover] {
    object-fit: cover;
}

[pgs~=imgContain] {
    object-fit: contain;
}

[pgs~=borderRadius] {
    border-radius: var(--border-radius);
}

[pgs~=borderRadiusInput] {
    border-radius: var(--border-radius-input);
}

[pgs~=borderRadiusExternal] {
    border-radius: var(--border-radius-external);
}

[pgs~=blur] {
    backdrop-filter: var(--blur);
}

[pgs~=appearanceNone] {
    all: unset;
    appearance: none;
}

[pgs~=pointer] {
    cursor: pointer;
}

[pgs~=hidden] {
    display: none !important;
}
