@use "../mixin/mixin" as *;

//= BUTTON
:is([pgs~="button"], [pgs*="button\5B"]) {
    @include buttonBase();

    &:where(:not([pgs~="bodyHoverAuto"] :is([pgs~="button"], [pgs*="button\5B"]))) {
        @include buttonHover();
    }

    &[pgs*="'iconOnly'"] {
        @include iconOnly();
    }

    &[pgs*="'mini'"] {
        @include mini();
    }

    &[pgs*="'big'"] {
        @include big();
    }

    &[pgs*="'transparent'"] {
        @include transparent();
    }

    &[pgs*="'strong'"] {
        @include strong();
    }

    &[pgs*="'text'"] {
        @include text();
    }

    &[pgs*="'paddingEqual'"] {
        @include paddingEqual();
    }

    &[pgs*="'forHeader'"] {
        @include forHeader();
    }

    &[pgs*="'primary'"] {
        --button-background: var(--color-primary);
        --button-color: var(--color-primary-text);
    }

    &[pgs*="'secondary'"] {
        --button-background: var(--color-secondary);
        --button-color: var(--color-secondary-text);
    }

    &[pgs*="'tertiary'"] {
        --button-background: var(--color-tertiary);
        --button-color: var(--color-tertiary-text);
    }

    &[pgs*="'quaternary'"] {
        --button-background: var(--color-quaternary);
        --button-color: var(--color-quaternary-text);
    }
}