//# DROPDOWN
[pgs~="dropdown"] {
    --dropdown-background: var(--color-box);
    --dropdown-color: var(--color-black);
    --dropdown-border: var(--border-complete);
    --dropdown-padding: 1rem;
    --dropdown-inline-size: max-content;
    --dropdown-max-inline-size: min(400px, calc(100vw - 16px));
    --dropdown-left: 0px;
    --dropdown-top: 0px;
    --dropdown-display: block;
    position: relative;

    &:not([pgs-state~="open"])>[pgs~="dropdown-content"] {
        display: none;
    }

    &[pgs-state~="open"]>[pgs~="dropdown-content"] {
        display: var(--dropdown-display);
    }

    >[pgs~="dropdown-content"] {
        position: fixed;
        inset: var(--dropdown-top) auto auto var(--dropdown-left);
        z-index: 1000;
        inline-size: var(--dropdown-inline-size);
        max-inline-size: var(--dropdown-max-inline-size);
        overflow: auto;
        padding: var(--dropdown-padding);
        border: var(--dropdown-border);
        border-radius: calc(var(--border-radius-input) + var(--dropdown-padding));
        background: var(--dropdown-background);
        color: var(--dropdown-color);
    }
}
