@use "../mixin/mixin" as *;

//# LOGO 
:is([pgs~="logo"], [pgs*="logo\5B"]) {
    display: flex;
    min-width: max-content;
    background-color: transparent;
    color: var(--color-black);
    --logo-height: var(--header-size, 6.0rem);
    --logo-finter: invert(1) hue-rotate(180deg) brightness(1.5);

    //== DARKMODE
    &:is([pgs-state~="darkmode"] [pgs*="'logoDarkmode'"]) :is([pgs~="logo-image"], [pgs*="logo-image\5B"]) {
        filter: var(--logo-finter);
    }

    //== FIXED DARKMODE
    &[pgs*="'logoDarkmodeFixed'"] :is([pgs~="logo-image"], [pgs*="logo-image\5B"]) {
        filter: var(--logo-finter);
    }

    //- tablet 
    @media (max-width: $tablet) {
        min-width: var(--logo-height);
    }

    //= LOGO
    >*:not(:is([pgs~="logo-text"], [pgs*="logo-text\5B"])) {
        height: var(--logo-height);
        object-fit: contain;
        object-position: left;
        align-items: center;
        width: initial;

        lottie-player,
        object {
            max-width: var(--logo-height);
        }
    }

    //= TEXT ONLY
    &:has(:is([pgs~="logo-text"], [pgs*="logo-text\5B"])) {
        display: flex;
        align-items: center;
        filter: unset !important;

        :is([pgs~="logo-text"], [pgs*="logo-text\5B"]) {
            font-family: var(--font-heading);
            font-size: 20px;
            font-weight: var(--font-weight-bold);
            text-wrap: nowrap;
        }
    }
}