[pgs~=tabs] {
    [pgs~=tabs-container] {
        [pgs~=tab] {
            display: none;

            &.is-active {
                display: flex;
            }
        }
    }

    [pgs~=tabs-next] {
        --button-background: var(--color-primary);
        color: var(--color-whiteFixed);
        --button-padding: var(--button-size) var(--button-size) var(--button-size) calc(var(--button-size) + var(--button-size) / 2);
    }

    [pgs~=tabs-dots] {
        display: flex;
        gap: var(--gap-texts);
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-inline: 10%;
        margin-block: var(--gap-texts);
        isolation: isolate;

        &::before {
            content: "";
            width: 100%;
            border-bottom: var(--border-complete);
            position: absolute;
            top: 50%;
            z-index: -1;
        }

        .tab-dot {
            padding: 12px;
            border-radius: 50%;
            aspect-ratio: 1;
            border: none;
            background: light-dark(var(--color-background), var(--color-box-transparent));
            transition: all 0.2s ease;

            i {
                --fa-size: 2.2rem;
                --fa-primary-color: var(--color-black);
                --fa-secondary-color: var(--color-black);
                color: var(--color-black);
            }
        }

        .tab-dot.is-completed {
            cursor: pointer;
            background: var(--color-primary-soft);
        }

        .tab-dot.is-active {
            background: var(--color-primary);
            scale: 1.2;

            i {
                --fa-primary-color: var(--color-whiteFixed);
                --fa-secondary-color: var(--color-whiteFixed);
                color: var(--color-whiteFixed);
            }
        }
    }
}