[pgs~="tooltip"][pgs~="dropdown"] {
    --dropdown-position-right: center;
    --dropdown-maxwidth: 400px;
    --dropdown-padding: 15px;

    [pgs~="tooltip-button"][pgs~="dropdown-button"] {
        // --button-background: var(--color-black);
        --fa-size: .9rem;
    }

    [pgs~="tooltip-content"][pgs~="dropdown-content"]{

    }
}
