@use "../mixin/mixin" as *;

[pgs~="footer"] {
    --footer-color: var(--color-black);
    --footer-background: var(--color-box);
    --footer-colorScheme: inherit;
    background: var(--footer-background);
    color: var(--footer-color);
    color-scheme: var(--footer-colorScheme);
    background-size: cover;
    container-type: inline-size;
    position: relative;
    isolation: isolate;

    //= TOP
    :where([pgs~="footer-top"]) {
        color: var(--footer-color);
        padding-block: calc(var(--gap-sections)/3);

        :where([pgs~="footer-top-content"]) {
            row-gap: var(--gap-elements);
        }

        &::after {
            content: unset;
        }

        h2 {
            --heading-size: 2.0rem;
        }

        h3 {
            --heading-size: var(--font-size-text);
        }

        p {
            color: var(--footer-color);
        }

        a {
            text-decoration: none;
            font-weight: var(--font-weight-title);
            color: var(--color-primary-strong);

            &:hover {
                text-decoration: underline;
            }
        }

        :where([pgs~="footer-brand"]) {
            @include column();

            :where([pgs~="logo-image"]) {
                aspect-ratio: 1;
                height: 200px;
                object-fit: contain;
                object-position: left center;
            }

            :where([pgs~="logo-text"]) {
                font-size: 4.0rem;
                font-weight: var(--font-weight-title);
                color: var(--footer-color);
            }
        }

        :where([pgs~="footer-content"]) {
            nav {
                li {
                    margin-top: 5px;

                    a {
                        color: var(--footer-color);
                        display: flex;
                        align-items: center;

                        i,
                        :is([pgs~="icon"], [pgs*="icon\5B"]) {
                            order: -1;
                            margin-right: 10px;
                            display: block;
                            width: 18px;
                            color: var(--color-white);
                            text-align: center;
                            font-size: 15px;

                            &::before {
                                color: var(--footer-color);
                            }

                            &::after {
                                color: var(--footer-color);
                            }
                        }
                    }
                }
            }
        }
    }

    //= LEGAL
    :where([pgs~="footer-legal"]) {
        width: 100%;

        :where([pgs~="footer-legal-content"]) {
            border-top: var(--border-width) var(--border-style) var(--color-boxDark-transparent);
            padding-block: 60px;
            display: flex;
            flex-direction: row;
            gap: calc(var(--gap-texts)*2);
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            :is([pgs~="logo"], [pgs*="logo\5B"]) {
                margin-right: auto;
                justify-content: center;
            }

            //- tablet 
            @media (max-width: $tablet) {
                :is([pgs~="logo"], [pgs*="logo\5B"]) {
                    width: 100%;
                }
            }
        }

        i,
        :is([pgs~="icon"], [pgs*="icon\5B"]) {
            font-size: 0.8rem;
            color: var(--color-text);
        }

        p {
            font-size: 1.3rem;
            color: var(--footer-color);
            text-align: center;
        }

        a {
            font-size: 1.3rem;
            color: var(--footer-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        button {
            font-size: 1.3rem;
            color: var(--footer-color);
            outline: none;
            padding: 1rem 1.2rem;
            font-weight: initial;
        }
    }
}