<!DOCTYPE html>
<html lang="it" pgs="htmlBase">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPGS templates demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="../dist/css/index.css">
    <link rel="stylesheet" href="demo.css">
</head>

<body pgs="bodyBase bodyImg bodyText bodyHeading" style="background-color: var(--color-box2);">
    <div id="templates-demo-layouts-before"></div>
    <main pgs="main" id="templates-demo-components"></main>
    <div id="templates-demo-layouts" pgs="flexColumnSections"></div>

    <script src="./demo.js"></script>
</body>

</html>
