.primary-menu {
    overflow: auto;
}

pre {
    display: flex;

    code {
        overflow: auto;
        width: 100%;
    }
}

.template-title {
    color: var(--color-primary);
    display: flex;
    align-items: center;
    gap: 30px;
    text-transform: capitalize;

    &::before {
        content: "";
        flex-shrink: 1;
        min-inline-size: 0;
        height: 3px;
        border-radius: 3px;
        width: 100%;
        background-color: var(--color-tertiary-soft);
        display: block;
    }

    strong {
        flex: 0 0 auto;
        color: var(--color-primary);
    }

    &::after {
        content: "";
        flex-shrink: 1;
        min-inline-size: 0;
        height: 3px;
        border-radius: 3px;
        width: 100%;
        background-color: var(--color-tertiary-soft);
        display: block;
    }
}

[pgs~=buttonBig]{
    max-width: 300px;
}