<nav aria-label="Breadcrumb">
    <ul pgs="breadcrumbs">
        <li pgs="breadcrumbs-item">
            <a href="/">Home</a>
            <span pgs="breadcrumbs-item-separator" aria-hidden="true">
                >
            </span>
        </li>

        <li pgs="breadcrumbs-item">
            <a href="/blog">Blog</a>
            <span pgs="breadcrumbs-item-separator" aria-hidden="true">
                >
            </span>
        </li>

        <li pgs="breadcrumbs-item">
            <span pgs="breadcrumbs-item-current" aria-current="page">
                Articolo di prova
            </span>
        </li>
    </ul>
</nav>