<footer pgs="footer">
    <section pgs="footer-top section">
        <div pgs="footer-top-content flex-3">
            <div><h2>Menu1</h2></div>
            <div><h2>Menu2</h2></div>
        </div>
    </section>
    <section pgs="footer-legal section">
        <div pgs="footer-legal-content">
            <p><a href="">Privacy Policy</a></p>
            <p><a href="">Cookie Policy</a></p>
            <p><a href="">Termini e Condizioni</a></p>
            <p>© 2026 MyPgs. Nessun diritto riservato.</p>
        </div>
    </section>
</footer>
