<div pgs="modal searchbar-modal" pgs-option="containerPgs[header]">

    <button type="button" pgs="modal-button buttonIcon" title="Cerca">
        <i class="fa-solid fa-search"></i>
    </button>

    <dialog>
        <div pgs="flexRow searchbar-mobile">

            <form pgs="buttonNohover searchbar" autocomplete="off" action="/" method="get">
                <button type="submit" title="Cerca">
                    <i class="fa-solid fa-search"></i>
                </button>

                <input type="search" name="s" placeholder="Cerca" value="">
            </form>

            <button type="button" pgs="modal-close buttonIcon">
                <i class="fa-solid fa-close"></i>
            </button>

        </div>
    </dialog>
</div>