<div pgs="flexRow">
    <span pgs="badge">
        Base
    </span>

    <span pgs="badgePrimary">
        Primary
    </span>

    <span pgs="badgeStrong">
        Strong
    </span>

    <span pgs="badgeSuccess badgeDot">
        Attivo
    </span>

    <span pgs="badgeWarning">
        <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
        Attenzione
    </span>

    <span pgs="badgeError">
        <i class="fa-solid fa-xmark" aria-hidden="true"></i>
        Errore
    </span>

    <span pgs="badgeInfo">
        <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
        Info
    </span>

    <span pgs="badgeNeutral" href="#">
        Neutrale
    </span>

</div>