<nav aria-label="Breadcrumb">
    <ul pgs="breadcrumb">
        <li pgs="breadcrumb-item">
            <a href="/">Home</a>
            <span pgs="breadcrumb-item-separator" aria-hidden="true">
                >
            </span>
        </li>

        <li pgs="breadcrumb-item">
            <a href="/blog">Blog</a>
            <span pgs="breadcrumb-item-separator" aria-hidden="true">
                >
            </span>
        </li>

        <li pgs="breadcrumb-item">
            <span aria-current="page">
                Articolo di prova
            </span>
        </li>
    </ul>
</nav>
