<div pgs="flex-2">

    <article pgs="card flexColumn">
        <img pgs="card-img imgCover" src="https://placehold.co/800x500" alt="Immagine segnaposto">
        
        <div pgs="flexColumnTexts">
            <h3>Card riutilizzabile</h3>
            <p>Contenuto descrittivo della card, adatto a liste, anteprime e griglie.</p>
            <a pgs="button" href="#">Leggi di piu</a>
        </div>
    </article>
    
    <article pgs="card">
        <a pgs="flexColumn" href="">
            <img pgs="card-img imgCover" src="https://placehold.co/800x500" alt="Immagine segnaposto">
            
            <div pgs="flexColumnTexts">
                <h3>Card riutilizzabile</h3>
                <p>Contenuto descrittivo della card, adatto a liste, anteprime e griglie.</p>
            </div>
        </a>
    </article>
</div>