<div pgs="flexRow">

    <span pgs="dropdown">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Bottom center
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto bottom center
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[top left]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Top left
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto top left
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[top center]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Top center
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto top center
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[top right]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Top right
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto top right
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[bottom left]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Bottom left
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto bottom left
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[bottom right]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Bottom right
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto bottom right
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[left center]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Left center
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto left center
        </div>
    </span>

    <span pgs="dropdown" pgs-option="position[right center]">
        <button pgs="dropdown-button button" pgs-option="buttonReverse" type="button">
            Right center
            <i class="fa-solid fa-chevron-down" aria-hidden="true"></i>
        </button>

        <div pgs="dropdown-content">
            Contenuto right center
        </div>
    </span>

</div>
