<nav pgs="menu" pgs-option="horizontal" aria-label="Menu orizzontale">
    <ul>
        <li>
            <a href="/" aria-current="page">
                <i class="fa-solid fa-house" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/servizi">
                <i class="fa-solid fa-layer-group" aria-hidden="true"></i>
                <span>Servizi</span>
            </a>
            <ul>
                <li><a href="/servizi/uno">Servizio uno</a></li>
                <li><a href="/servizi/due">Servizio due</a></li>
            </ul>
        </li>
    </ul>
</nav>

<nav pgs="menu" pgs-option="vertical" aria-label="Menu verticale">
    <ul>
        <li>
            <a href="/" aria-current="page">
                <i class="fa-solid fa-house" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/servizi">
                <i class="fa-solid fa-layer-group" aria-hidden="true"></i>
                <span>Servizi</span>
            </a>
            <ul>
                <li><a href="/servizi/uno">Servizio uno</a></li>
                <li><a href="/servizi/due">Servizio due</a></li>
            </ul>
        </li>
    </ul>
</nav>
