<div pgs="flexRow">
    <a pgs="button" href="#">
        <i class="fa-duotone fa-solid fa-store"></i>
        About
    </a>

    <button pgs="button" type="button" pgs-option="buttonReverse">
        Avanti
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
    </button>

    <button pgs="buttonStrong" type="button">
        <i class="fa-solid fa-check" aria-hidden="true"></i>
        Submit
    </button>

    <button pgs="buttonIcon" type="button" aria-label="Impostazioni">
        <i class="fa-solid fa-gear" aria-hidden="true"></i>
    </button>

    <button pgs="buttonMini" type="button" aria-label="Informazioni">
        <i class="fa-solid fa-info" aria-hidden="true"></i>
    </button>

    <button pgs="buttonBig" type="button" aria-label="Bottone grande">
        <i class="fa-solid fa-rocket" aria-hidden="true"></i>
        Bottone grande
    </button>
</div>