<div pgs="flexRow">
    <a pgs="button" href="#">
        <i class="fa-solid fa-arrow-right" aria-hidden="true"></i>
        Bottone
    </a>

    <button pgs="buttonStrong" type="button">
        <i class="fa-solid fa-check" aria-hidden="true"></i>
        Azione primaria
    </button>

    <button pgs="buttonIcon" type="button" aria-label="Impostazioni">
        <i class="fa-solid fa-gear" aria-hidden="true"></i>
    </button>

    <button pgs="buttonMini" type="button">
        Mini
    </button>

    <button pgs="buttonBig" type="button">
        Bottone grande
    </button>
</div>
