<nav pgs="menuHorizontal" aria-label="Menu orizzontale">
    <ul class="primary-menu">
        <li class="menu-item current-menu-item">
            <a href="/" aria-current="page">
                <i class="fa-solid fa-house" aria-hidden="true"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="/servizi">
                <i class="fa-solid fa-layer-group" aria-hidden="true"></i>
                <span>Servizi</span>
            </a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="/servizi/uno">Servizio uno</a></li>
                <li class="menu-item"><a href="/servizi/due">Servizio due</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="/contatti">
                <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                <span>Contatti</span>
            </a>
        </li>
    </ul>
</nav>

<nav pgs="menuVertical" aria-label="Menu verticale">
    <ul>
        <li class="menu-item"><a href="#">Voce verticale uno</a></li>
        <li class="menu-item"><a href="#">Voce verticale due</a></li>
    </ul>
</nav>

<nav pgs="menuFooter" aria-label="Menu footer">
    <ul>
        <li class="menu-item"><a href="/privacy-policy">Privacy Policy</a></li>
        <li class="menu-item"><a href="/cookie-policy">Cookie Policy</a></li>
    </ul>
</nav>
