<div pgs="modal" pgs-option="containerID[modal-container]">
    <button pgs="modal-button button" type="button" id="modal-esempio">
        Apri modale
    </button>

    <dialog>
        <div pgs="modal-dialog-content">
            <div pgs="modal-dialog-content-header">
                <h2>Modale di esempio</h2>
            </div>

            <div pgs="modal-dialog-content-scroll">
                <p>Contenuto della modale. Il bottone di chiusura viene aggiunto automaticamente se non presente.</p>
            </div>
        </div>
    </dialog>
</div>

<div id="modal-container"></div>
