<ol pgs="steps" class="steps">
    <li pgs="steps-step" class="step_li">
        <span pgs="steps-step-circle">1</span>
        <div pgs="steps-step-content" class="step_li-content">
            <h3>Primo step</h3>
            <p>Descrizione del primo passaggio.</p>
        </div>
    </li>

    <li pgs="steps-step" class="step_li">
        <span pgs="steps-step-circle">2</span>
        <div pgs="steps-step-content" class="step_li-content">
            <h3>Secondo step</h3>
            <p>Descrizione del secondo passaggio.</p>
        </div>
    </li>

    <li pgs="steps-step" class="step_li">
        <span pgs="steps-step-circle">3</span>
        <div pgs="steps-step-content" class="step_li-content">
            <h3>Terzo step</h3>
            <p>Descrizione del terzo passaggio.</p>
        </div>
    </li>
</ol>
