<div pgs="notification" aria-live="polite"></div>
<div pgs="toast" aria-live="polite"></div>

<div pgs="hidden notificationTrigger" data-notification='{
        "title":"Titolo",
        "message":"Messaggio",
        "element":"notification",
        "type":"info",
        "icon":null,
        "duration":"-1",
        "link":null
    }'>
</div>
<div pgs="hidden notificationTrigger" data-notification='{
        "title":"Benvetuto",
        "message":"Messaggio",
        "element":"toast",
        "type":"info",
        "icon":null,
        "duration":"3000",
        "link":null
    }'>
</div>
<!-- 
    <div pgs="hidden notificationTrigger" data-notification='{
        "title":"Titolo",
        "message":"Messaggio",
        "element":"notification | toast",
        "type":"info | success | warning | error",
        "icon":"null | <i class=\"fa-solid fa-rocket\"></i>",
        "duration":"-1 | 0 | 4000 | 5000",
        "link":"null | /pagina/"
    }'>
</div>
-->
