<div pgs="container flexColumnTexts">
    <strong>Sezione standard</strong>
    <p>Contenuto centrato dentro una sezione MyPGS.</p>
</div>


<div pgs="flex-2">
    <article pgs="card flexColumnTexts">
        <strong>Colonna uno</strong>
        <p>Contenuto della prima colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna due</strong>
        <p>Contenuto della seconda colonna.</p>
    </article>
</div>


<div pgs="flex-3">
    <article pgs="card flexColumnTexts">
        <strong>Colonna uno</strong>
        <p>Contenuto della prima colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna due</strong>
        <p>Contenuto della seconda colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna tre</strong>
        <p>Contenuto della terza colonna.</p>
    </article>
</div>


<div pgs="flex-4">
    <article pgs="card flexColumnTexts">
        <strong>Colonna uno</strong>
        <p>Contenuto della prima colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna due</strong>
        <p>Contenuto della seconda colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna tre</strong>
        <p>Contenuto della terza colonna.</p>
    </article>
    <article pgs="card flexColumnTexts">
        <strong>Colonna quattro</strong>
        <p>Contenuto della quarta colonna.</p>
    </article>
</div>

<div pgs="flex-6">
    <article pgs="card flexColumnTexts">
        <strong>Colonna uno</strong>
        <p>Contenuto della prima colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna due</strong>
        <p>Contenuto della seconda colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna tre</strong>
        <p>Contenuto della terza colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna quattro</strong>
        <p>Contenuto della quarta colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna cinque</strong>
        <p>Contenuto della quinta colonna.</p>
    </article>

    <article pgs="card flexColumnTexts">
        <strong>Colonna sei</strong>
        <p>Contenuto della sesta colonna.</p>
    </article>
</div