<header pgs="header">
	<div pgs="header-element">
		<div pgs="header-element-alwaysOn">
			<a aria-label="Logo" pgs="logo" href="/">
				<span pgs="logo-text">MyPGS</span>
			</a>
		</div>

		<div pgs="header-element-onlyDesktop">
			<nav pgs="menuHorizontal" aria-label="Menu principale">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#componenti">Componenti</a></li>
					<li><a href="#layout">Layout</a></li>
				</ul>
			</nav>
		</div>

		<div pgs="header-element-onlyMobile">
		</div>

		<div pgs="header-element-alwaysOnLast">
			<button pgs="buttonIcon toggleDarkmode" type="button" aria-label="Cambia tema">
				<i class="fa-solid fa-moon"></i>
			</button>
		</div>

		<div pgs="header-element-hamburger modal" pgs-option="containerPGS[header] ">

			<button pgs="buttonIcon modal-button header-element-hamburger-button" type="button" title="Menu">
				<span pgs="header-element-hamburger-row"></span>
				<span pgs="header-element-hamburger-row"></span>
			</button>

			<dialog pgs="header-mobile-dialog" pgs-option="right ">
				<div pgs="modal-dialog-content header-mobile-content">
					<nav pgs="menuVertical" aria-label="Menu mobile">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#componenti">Componenti</a></li>
							<li><a href="#layout">Layout</a></li>
						</ul>
					</nav>
				</div>
			</dialog>
		</div>
	</div>

	<!-- //# HEADER BOTTOM -->

	<script>
		if (localStorage.getItem("screenIsDarkMode") === "true") {
			document.body.classList.add("darkmode");
			document.querySelector(":root").setAttribute("data-darkmode", "true");
			document.body.setAttribute("data-darkmode", "true");
		}

		if (window.innerWidth < 600) {
			document.querySelector("header").setAttribute("data-header-mobileActive", "true");
			document.querySelector("[pgs~=header-element]").setAttribute("data-header-mobileActive", "true");
		}
	</script>
</header>
