<div pgs="flexColumnSections">
    <section pgs="section flexColumnElements">
        <div pgs="container flexColumnTexts">
            <strong>Sezione standard</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
    </section>

    <section pgs="sectionFull flexColumnElements">
        <div pgs="container flexColumnTexts">
            <strong>Sezione full-width</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
    </section>

    <section pgs="sectionSpecificity flexColumnElements">
        <div pgs="container flexColumnTexts">
            <strong>Sezione specificità</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
        <div pgs="sectionSpecificity-child container flexColumnTexts">
            <strong>Sezione specificità-child</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
    </section>

    <section pgs="sectionMax flexColumnElements" style="background-color: var(--color-primary-soft)">
        <div pgs="container flexColumnTexts">
            <strong>Sezione max-width</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
    </section>

    <section pgs="sectionNoPadding flexColumnElements">
        <div pgs="container flexColumnTexts">
            <strong>Sezione no-padding</strong>
            <p>Contenuto centrato dentro una sezione MyPGS.</p>
        </div>
    </section>
</div>